# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history/
.svn/
.swiftpm/
migrate_working_dir/

# Dart / Flutter / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android
.gradle/
local.properties
captures/
*.keystore
*.jks
*.kwks
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/DerivedData/
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/DerivedData/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/.dart_tool/

# IDEs
.idea/
*.iml
*.ipr
*.iws

# VS Code can contain useful launch/tasks config. Uncomment to ignore it.
# .vscode/
